[Unit]
Description = login Service
[Service]
Type=simple
Environment=USERS_API_ADDRESS=http://USERS_ENDPOINT:8080
Environment=AUTH_API_PORT=8080
ExecStart=/root/go/src/login/login
Restart=on-failure

[Install]
WantedBy=multi-user.target
